<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido el emplreado: {{apellido}}</p>
<!-- Hay que llamar al metodo, no la propiedad -->
<p>Edad al ingresar: {{getEdadIngreso()}}</p>
<!-- Un ternario -->
<p>Edad del empleado: {{edad<18?"Es menor de edad":"Es mayor de edad"}}</p>
<p>Empresa: {{empresa}}</p>

<h3>Bienvenido/a {{nombre}} {{apellido}}</h3>

<!-- Binding bidireccional, banana in box [()] para usar ngModel debo importarlo en app.module.ts-->
Introduce la empresa: <input type="text" [(ngModel)]="empresa">

<br>
<br>
<br>
<br>
<hr>

<h2>Texto de cajita: {{prueba.value}}</h2>
Cajita de prueba: <input #prueba type="text" (keyup)="0" [disabled]="habilitarCaja">

<br>
<br>
<hr>
{{textoRegistro}}
<br>
<br>
Usuario registrado<input type="radio" name="nRegistro" value="si" id="registro" [checked]="registro" (click)="setUsuarioRegistrado($event)"><br>
Usuario no registrado<input type="radio" name="nRegistro" value="no" (click)="setUsuarioRegistrado($event)"><br>
{{getRegistroUsuario()}}